.App {
  /* text-align: center; */
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--back {
  -webkit-transform: translateZ(-.03px) scale(1.03);
  transform: translateZ(-.03px) scale(1.03);
}

.bars {
  width: 3000px;
  height: 3000px;
}

.foreground {
  -webkit-transform: translateZ(-.03px) scale(1.03);
  transform: translateZ(0px) scale(1);
}

.topWhite {
  background-color: white;
  width: 3000px;
  height: 1000px;
}

.heart {
  margin: 20px;
}

.bottomWhite {
  background-color: white;
  width: 3000px;
  height: 3000px;
}