#contact-container {
    width: 100%;
    height: 100vh;

    @media @phone {
        margin-bottom: 100px;
    }

    #contact-banner {
        width: 100%;
        // height: 100vh;
        display: flex;
        align-items: center;
        
        .bars-container-1 {
            height: 130px;
            min-width: 328px;
            max-width: 328px;
            overflow: hidden;

            @media @desktop {
                margin-left: -160px;
            }

            @media @phone {
                height: 100px;
                min-width: 290px;
                max-width: 290px;
            }
        
            .base {
                -webkit-transform: translateZ(0px) scale(1);
                transform: translateZ(0px) scale(1);

                @media @phone {
                    margin: -200px 0 0 -200px;

                    -webkit-transform: translateZ(0px) scale(0.8);
                    transform: translateZ(0px) scale(0.8);
                }
            }
        }

        .magenta-bars-container {
            height: 130px;
            min-width: 351px;
            max-width: 351px;
            overflow: hidden;

            @media @phone {
                height: 100px;
                min-width: 190px;
                max-width: 190px;
            }
        
            .base {
                -webkit-transform: translateZ(0px) scale(1);
                transform: translateZ(0px) scale(1);

                @media @phone {
                    margin: -200px 0 0 -300px;

                    -webkit-transform: translateZ(0px) scale(0.8);
                    transform: translateZ(0px) scale(0.8);
                }
            }
        }

        .bars-container-2 {
            height: 130px;
            overflow: hidden;

            @media @phone {
                height: 100px;
                min-width: 290px;
                max-width: 290px;
            }
        
            .base {
                -webkit-transform: translateZ(0px) scale(1);
                transform: translateZ(0px) scale(1);

                @media @phone {
                    margin: -200px 0 0 -300px;

                    -webkit-transform: translateZ(0px) scale(0.8);
                    transform: translateZ(0px) scale(0.8);
                }
            }
        }
    
        .parallax__layer--scanimation {
            -webkit-transform: translateZ(-.07px) scale(1.07);
            transform: translateZ(-.07px) scale(1.07);
            margin: -20px 0 0 150px;
            position: absolute;
            z-index: -1;

            @media @desktop {
                margin-left: 0px; 
            }

            @media @phone {
                -webkit-transform: translateZ(-.07px) scale(1.07);
                transform: translateZ(-.056px) scale(0.856);
            }
        }
        
        .contact-sticker {
            #craft > .top-layer;
            border-radius: @paper-radius;
            padding: 5px;
            width: 230px;
            height: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; 
            box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
            background: @white;
            overflow: hidden;
            position: absolute; //keeps coutout above bars
        
            margin-left: 390px;

            @media @desktop {
                margin-left: 225px;
            }

            @media @phone {
                width: 145px;
                height: 60px;
                margin-left: 150px;
            }
        
            .parallax-layer--front {
                text-align: center;
        
                .name {
                    font-family: @secondary-font;
                    font-size: 60px;

                    @media @phone {
                        font-size: 40px;
                    }
                }
            }
        
        }
    
    }

    .contacts-content-container {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        padding-left: 160px;
        margin-bottom: 50px;

        @media @desktop {
            padding-left: 0;
        }

        .contact-sticker {
            #craft > .sticker;
            #craft > .top-layer;
            width: 100%;
            max-width: 300px;
            display: flex;
            margin: 80px 20px 20px;
            position: relative;
            align-items: center;
            padding: 20px;
            text-decoration: none;
            color: @black;

            @media @phone {
                margin: 50px 10px 40px;
            }

            .contact-image {
                height: 100%;
                max-height: 50px;
                width: auto;
            }

            .text {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 20px;

                .title {
                    font-size: 2.0rem;
                    font-weight: bold;
                }

                .description {
                    font-size: 1.4rem;
                }

                .date {
                    font-style: italic;
                    font-size: 1.2rem;
                    margin-top: 30px;
                    
                }

            }

            .links {
                position: absolute;
                bottom: -46px;
                right: -0px;
                display: flex;
                z-index: -1;

                .link {
                    #craft > .sticker;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    padding: 20px 10px 10px;
                    width: 100%;
                    display: flex;
                    text-decoration: none;

                    .link-text {
                        z-index: 1;
                        text-align: center;
                        color: @black;
                        font-size: 1.3rem;
                        font-weight: bold;
                        border-bottom: solid 3px @magenta;
                        width: 100%;
                        display: flex;
                        align-items: center;

                        img {
                            z-index: 1;
                            height: 10px;
                            transform: rotate(-90deg);
                            margin-left: 5px;
                        }
                    }

                }
            }
        }
    }
}