.landing-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;

    @media @phone {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    .bars-container {
        height: 300px;
        min-width: 1600px;
        overflow: hidden;
        margin-left: -15px;

        @media @desktop {
            height: 240px;
            margin-left: -7px;
        }

        @media @tablet {
            margin-left: -12px;
        }

        @media @phone {
            height: 450px;
            margin-left: -13px;
        }
    
        .base {
            margin: -100px 0 0 -200px;
            
            #craft > .middle-layer;

            @media @desktop {
                -webkit-transform: translateZ(0px) scale(0.8);
                transform: translateZ(0px) scale(0.8);
            }

            @media @tablet {
                margin: -70px 0 0 -200px;
            }
        }
    }

    .parallax__layer--me {
        -webkit-transform: translateZ(-.01px) scale(1.01);
        transform: translateZ(-.01px) scale(1.01);

        margin-left: 150px;
        position: absolute;
        z-index: -1;

        @media @desktop {
            -webkit-transform: translateZ(-.008px) scale(0.808);
            transform: translateZ(-.008px) scale(0.808);
            margin-left: 50px;
        }

        @media @tablet {
            margin-left: 20px;
        }

        @media @phone {
            margin: -100px 0 0 30px;
        }
    }
    
    .landing-cutout {
        border-radius: @paper-radius;
        padding: 15px 30px 0;
        width: 500px;
        height: 200px;
        display: flex;
        flex-direction: column;
        box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .5);
        background: @white;
        overflow: hidden;
        position: absolute; //keeps coutout above bars
    
        margin-left: 501px;

        @media @desktop {
            width: 400px;
            margin-left: 450px;
        }

        @media @tablet {
            height: 150px;
            width: 270px;
            margin-left: 320px;
            padding: 10px 0 0;
        }

        @media @phone {
            height: 150px;
            width: 270px;
            margin: 120px 0 0 40px;
            padding: 10px 0 0;
        }
    
        .parallax-layer--back {
            #craft > .lower-layer;
            text-align: center;
    
            .name {
                font-family: @secondary-font;
                font-size: 60px;

                @media @tablet {
                    font-size: 37px;
                }
            }
    
            .title {
                font-size: 27.8px;

                @media @tablet {
                    font-size: 17.2px;
                }
            }
        }
    
        .learn-more {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            #craft > .middle-layer; //keeps tab above the cutout
    
            .tab {
                border-top-left-radius: @paper-radius;
                border-top-right-radius: @paper-radius;
                width: 180px;
                height: 50px;
                padding: 10px;
                margin-bottom: -1px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);

                @media @desktop {
                    -webkit-transform: translateZ(0px) scale(0.8);
                    transform: translateZ(0px) scale(0.8);

                    margin-bottom: -6px;
                }
    
                .text {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    background: @white;
                    font-size: 20px;
                    font-weight: bold;
                    text-align: center;
                    padding: 5px;
                    border-radius: @paper-radius;
    
                    img {
                        height: 20px;
                    }
                }
            }
        }
    
    }

}
