#sidebar {
    .nav {
        height: 50px;
        // margin-left: 180px;
        position: absolute;
        right: 0px;

        display: flex;
        justify-content: center;
        align-items: center;
    
        font-family: @secondary-font;
        font-size: 3rem;
        cursor: pointer;
    
        background: @white;
        box-shadow: 6px 6px 10px -3px rgba(0, 0, 0, .35);
        border-top-right-radius: @paper-radius;
        border-bottom-right-radius: @paper-radius;
        text-decoration: none;
        color: @black;

        // @media @phone {
        //     margin-left: 100px;
        // }
    }

    .nav-before {
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: -6px;
    }
}

#craft {
    .cutout {
        box-shadow: inset 5px 5px 8px rgba(0, 0, 0, .3);
        border-radius: @paper-radius;
    }

    .sticker {
        box-shadow: 5px 5px 8px rgba(0, 0, 0, .3);
        background: @white;
        border-radius: @paper-radius;
    }

    .top-layer {
        -webkit-transform: translateZ(.02px) scale(.98);
        transform: translateZ(.02px) scale(.98);
        z-index: 1;
    }

    .middle-layer {
        -webkit-transform: translateZ(0px) scale(1);
        transform: translateZ(0px) scale(1);
    }

    .lower-layer {
        -webkit-transform: translateZ(-.08px) scale(1.08);
        transform: translateZ(-.08px) scale(1.08);
        z-index: -1;
    }
}