#sidebar {
    .nav {
        height: 50px;
        margin-left: 180px;
        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;
    
        font-family: @secondary-font;
        font-size: 3rem;
        cursor: pointer;
    
        background: @white;
        box-shadow: 6px 6px 10px -3px rgba(0, 0, 0, .35);
        border-top-right-radius: @paper-radius;
        border-bottom-right-radius: @paper-radius;

        @media @giant {
            margin-left: 10%;
        }

        @media @phone {
            margin-left: 100px;
        }
    }

    .nav-before {
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: -6px;
    }
}