.sidebar-container {
    width: 100%;
    position: relative;

    .sidebar {
        box-shadow: 2px 0px 10px rgba(0, 0, 0, .35);
        height: 100vh;
        width: 180px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;

        .my-name {
            display: flex;
            align-items: center;
            font-family: @secondary-font;
            font-size: 4rem;
            margin-top: 40px;
            width: 150px;
            height: 150px;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, .20);
            text-align: center;
            cursor: pointer;
        }

        .quick-contacts {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 50px;

            img {
                width: 50px;
                height: 50px;
                padding: 10px;
                margin-bottom: 20px;
                box-shadow: 3px 3px 5px rgba(0, 0, 0, .10);
                cursor: pointer;
            }
        }
    }

    .sidebar-extended-shadow {
        box-shadow: 2px 0px 20px rgba(0, 0, 0, .15);
        height: 100vh;
        width: 180px;
        position: absolute;
        z-index: -2;
    }


    @nav-offset: 20vh;
    @nav-spacing: 10vh;

    .about {
        #sidebar > .nav;

        margin-top: (@nav-spacing * 0) + @nav-offset;
        width: 100px;

        z-index: 1;
        border-left: @cyan solid 6px;
        // padding-left: 6px;
    }
    
    .projects {
        #sidebar > .nav;

        margin-top: (@nav-spacing * 1) + @nav-offset;
        width: 140px;

        // z-index: 1;
        // border-left: @magenta solid 6px;
        padding-left: 6px;
    }

    .articles {
        #sidebar > .nav;

        margin-top: (@nav-spacing * 2) + @nav-offset;
        width: 135px;

        // z-index: 1;
        // border-left: @yellow solid 6px;
        padding-left: 6px;
    }

    .resume {
        #sidebar > .nav;

        margin-top: (@nav-spacing * 3) + @nav-offset;
        width: 120px;

        // z-index: 1;
        // border-left: @cyan solid 6px;
        padding-left: 6px;
    }

    .contact {
        #sidebar > .nav;

        margin-top: (@nav-spacing * 4) + @nav-offset;
        width: 125px;

        // z-index: 1;
        // border-left: @magenta solid 6px;
        padding-left: 6px;
    }

}