* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 62.5%;
}
#sidebar .nav {
  height: 50px;
  margin-left: 180px;
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Staatliches', cursive;
  font-size: 3rem;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 6px 6px 10px -3px rgba(0, 0, 0, 0.35);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
@media (max-width: 600px) {
  #sidebar .nav {
    margin-left: 100px;
  }
}
#sidebar .nav-before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -6px;
}
.app {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  display: flex;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.app .rightbar {
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
  background: #ffffff;
  height: 100%;
  position: sticky;
  top: 0;
}
.sidebar-container {
  z-index: 100;
  position: sticky;
  top: 0;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.sidebar-container .sidebar {
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.35);
  background: #ffffff;
  height: 100vh;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
@media (min-width: 1800px) {
  .sidebar-container .sidebar {
    align-items: flex-end;
    padding-right: 20px;
  }
}
@media (max-width: 600px) {
  .sidebar-container .sidebar {
    min-width: 100px;
    width: 100px;
  }
}
.sidebar-container .sidebar .my-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Staatliches', cursive;
  font-size: 4rem;
  margin-top: 40px;
  width: 150px;
  min-height: 120px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background: #ffffff;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 600px) {
  .sidebar-container .sidebar .my-name {
    transform: rotate(-90deg);
    font-size: 3.3rem;
    margin-top: 100px;
    width: 225px;
    min-height: 60px;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.2);
  }
}
.sidebar-container .sidebar .quick-contacts {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 50px;
  z-index: 1;
}
@media (min-width: 1800px) {
  .sidebar-container .sidebar .quick-contacts {
    align-items: flex-end;
    padding-right: 50px;
  }
}
.sidebar-container .sidebar .quick-contacts img {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #ffffff;
  cursor: pointer;
}
.sidebar-container .sidebar-extended-shadow {
  box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.15);
  height: 100vh;
  width: 180px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}
@media (max-width: 600px) {
  .sidebar-container .sidebar-extended-shadow {
    width: 100px;
  }
}
.sidebar-container .toggle-nav {
  height: 50px;
  margin-left: 180px;
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Staatliches', cursive;
  font-size: 3rem;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 6px 6px 10px -3px rgba(0, 0, 0, 0.35);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-top: -100vh;
  margin-right: -198px;
  width: 198px;
  padding-right: 11px;
  z-index: 1;
  display: none;
}
@media (max-width: 600px) {
  .sidebar-container .toggle-nav {
    margin-left: 100px;
  }
}
@media (max-width: 1200px) {
  .sidebar-container .toggle-nav {
    display: flex;
    justify-content: flex-end;
  }
}
.sidebar-container .toggle-nav .arrow-left {
  height: 30px;
  transform: rotate(90deg);
}
.sidebar-container .toggle-nav .arrow-right {
  height: 30px;
  transform: rotate(-90deg);
}
.sidebar-container .about {
  height: 50px;
  margin-left: 180px;
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Staatliches', cursive;
  font-size: 3rem;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 6px 6px 10px -3px rgba(0, 0, 0, 0.35);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-top: -80vh;
  margin-right: -100px;
  width: 100px;
  z-index: -1;
}
@media (max-width: 600px) {
  .sidebar-container .about {
    margin-left: 100px;
  }
}
.sidebar-container .about::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -6px;
  border-left: 6px solid #0099dd;
}
.sidebar-container .projects {
  height: 50px;
  margin-left: 180px;
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Staatliches', cursive;
  font-size: 3rem;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 6px 6px 10px -3px rgba(0, 0, 0, 0.35);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-top: -70vh;
  margin-right: -140px;
  width: 140px;
  z-index: -2;
}
@media (max-width: 600px) {
  .sidebar-container .projects {
    margin-left: 100px;
  }
}
.sidebar-container .projects::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -6px;
  border-left: 6px solid #d90d79;
}
.sidebar-container .articles {
  height: 50px;
  margin-left: 180px;
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Staatliches', cursive;
  font-size: 3rem;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 6px 6px 10px -3px rgba(0, 0, 0, 0.35);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-top: -60vh;
  margin-right: -131px;
  width: 131px;
  z-index: -3;
}
@media (max-width: 600px) {
  .sidebar-container .articles {
    margin-left: 100px;
  }
}
.sidebar-container .articles::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -6px;
  border-left: 6px solid #ffdd00;
}
.sidebar-container .resume {
  height: 50px;
  margin-left: 180px;
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Staatliches', cursive;
  font-size: 3rem;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 6px 6px 10px -3px rgba(0, 0, 0, 0.35);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-top: -50vh;
  margin-right: -118px;
  width: 118px;
  z-index: -4;
}
@media (max-width: 600px) {
  .sidebar-container .resume {
    margin-left: 100px;
  }
}
.sidebar-container .resume::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -6px;
  border-left: 6px solid #0099dd;
}
.sidebar-container .contact {
  height: 50px;
  margin-left: 180px;
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Staatliches', cursive;
  font-size: 3rem;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 6px 6px 10px -3px rgba(0, 0, 0, 0.35);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-top: -40vh;
  margin-right: -125px;
  width: 125px;
  z-index: -5;
}
@media (max-width: 600px) {
  .sidebar-container .contact {
    margin-left: 100px;
  }
}
.sidebar-container .contact::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -6px;
  border-left: 6px solid #d90d79;
}
.hidden {
  margin-left: 0;
}
@media (max-width: 1200px) {
  .hidden {
    margin-left: -328px;
    margin-right: 328px;
  }
}
@media (max-width: 600px) {
  .hidden {
    margin-left: -248px;
    margin-right: 248px;
  }
}
.home-container {
  max-width: 1600px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;
}
.scanimations {
  position: relative;
  transform-style: preserve-3d;
}
.parallax__layer--me {
  -webkit-transform: translateZ(-0.01px) scale(0.505);
  /* transform: translateZ(-.01px) scale(0.505); half size */
  transform: translateZ(-0.01px) scale(1.01);
  margin-top: 30vh;
  margin-left: 52px;
}
.bars-container {
  height: 300px;
  overflow: hidden;
  margin-left: -145px;
  margin-top: -300px;
}
.bars-container .base {
  -webkit-transform: translateZ(0px) scale(1);
  transform: translateZ(0px) scale(1);
}
.landing-cutout {
  border-radius: 2px;
  padding: 15px 30px 0;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  overflow: hidden;
  margin: -250px 0 0 467px;
  position: relative;
}
.landing-cutout .parallax-layer--back {
  -webkit-transform: translateZ(-0.08px) scale(1.08);
  transform: translateZ(-0.08px) scale(1.08);
  text-align: center;
}
.landing-cutout .parallax-layer--back .name {
  font-family: 'Staatliches', cursive;
  font-size: 60px;
}
.landing-cutout .parallax-layer--back .title {
  font-size: 27.8px;
}
.landing-cutout .learn-more {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  -webkit-transform: translateZ(0px) scale(1);
  transform: translateZ(0px) scale(1);
}
.landing-cutout .learn-more .tab {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  width: 180px;
  height: 50px;
  padding: 10px;
  margin-bottom: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.landing-cutout .learn-more .tab .text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border-radius: 2px;
}
.landing-cutout .learn-more .tab .text img {
  height: 20px;
}
.whitespace {
  width: 100%;
  height: 2000px;
}
